*{
background: #FFD1D1;

}

/*<div class="uno"><h2>1x $130</h2></div>
<div class="dos"><h2>2x $180</h2></div>
<div class="tres"><h2>3x $280</h2></div>
<div class="cuatro"><h2>4x $320</h2></div>*/
.contenedor{
	text-align: center;
	color: #FFD1D1;

	width: 95%;
	max-width: 1300px;
	margin: 50px auto;
	display: grid;
	grid-gap: 30px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(7, auto);
	grid-template-areas: "delizr deliz delizp"
	                     "mapa mapa mapa"
	                     "carrusel carrusel contacto"
	                     "carrusel carrusel contacto"
	                     "carrusel carrusel contacto"
	                     "arandano arandano zarsamora"
	                     "uva uva zarsamora";
}

.mapa{
grid-area: mapa;
}
.deliz{
grid-area: deliz;
}
.deliz h1{
font-family: 'Lemonada', cursive;
color: #fff;
font-size: 60px;
text-shadow: -1px -1px 5px red, 5px -1px 5px red, -1px 5px 5px red, 5px 5px 5px red;
font-size: 70px;
margin-top: -30px; 
}

.delizr{
grid-area: delizr;
height: auto;
}
.delizr h2{
font-family: 'Playfair Display', serif; 
background: #E27FAB;
color: #fff;
font-size: 40px;
margin: 30px;
padding: 30px;
border-radius: 100%;
}

.delizp{
grid-area: delizp;
height: auto;

}
.delizp h2{
	font-family: 'Playfair Display', serif; 
background: #E27FAB;
color: #fff;
font-size: 40px;
margin: 30px;
padding: 30px;
border-radius: 100%;
}

.contenedor .cuadros{
	grid-area: carrusel;
}
.unos img{
	width: 320px;
	height: 320px;
}

.uno,
.dos,
.tres,
.cuatro{
	color: #228b22;
	font-size: 25px;
	background: #000;
}


.arandano div{
background: transparent;
width: 90%;
background: #E27FAB;
border-radius: 10%;
border: 8px solid #000;
}
.arandano{
background: transparent;
grid-area: arandano;
display: grid;
grid-template-columns: repeat(2, 1fr);
}
.uva div{
background: transparent;
width: 90%;
background: #E27FAB;
border-radius: 10%;
border: 8px solid #000;
}
.uva{
background: transparent;
grid-area: uva;
display: grid;
grid-template-columns: repeat(2, 1fr);
}

.zarsamora{
background: #E27FAB;
grid-area: zarsamora;
border-radius: 2.5%;
border: 8px solid #000;
padding-bottom: 20px;

}

.arandano h1,
.zarsamora h1,
.uva h1{
background: transparent;
padding: 10px;
font-size: 40px;
font-family: 'Playfair Display', serif; 

}
.arandano p,
.zarsamora p,
.uva p{
background: transparent;
padding: 20px;
font-size: 30px;
font-family: 'Playfair Display', serif; 
margin: 0px;
padding: 3px;
}

.contacto{
	margin-top: 20px;
	grid-area: contacto;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 50%;
	margin-left: 120px;
}
.contacto a{
	background: #fff;
}
.contacto img{
	background: #fff;
	margin: 20px;
	width: 60px;
	height: auto;
}

@media screen and (max-width: 1300px){

.contenedor{
	text-align: center;

	width: 95%;
	max-width: 1300px;
	margin: 50px auto;
	display: grid;
	grid-gap: 30px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(8, auto);
	grid-template-areas: "deliz deliz deliz"
	                     "mapa mapa mapa"
	                     "carrusel carrusel carrusel"
	                     "carrusel carrusel carrusel"
	                     "contacto contacto contacto"	                     	                   
	                     "arandano arandano arandano"
	                     "zarsamora zarsamora zarsamora"
	                     "uva uva uva";
}


.arandano div{
margin-top: 50px;
padding-bottom: 20px;
border: 10px solid #000;
}
.uva div{
padding-bottom: 20px;
border: 10px solid #000;
}
.zarsamora{
	border: 12px solid #000;
}
.deliz h1{

margin-top: -30px; 
}
.delizr h2{
color: #fff;
font-size: 9px;
margin: 3px;
padding: 10%;
border-radius: 100%;
display: none;
}
.delizp h2{
color: #fff;
font-size: 9px;
margin: 1px;
padding: 30px;
border-radius: 100%;
display: none;
}

.contacto{
	flex-direction: row;
	height: 100%;
	width: 100%;
	margin-left: 0px;
}
.contacto a{
	width: 33.33%;
}
.contacto img{
	margin: 20px;
	width: 90px;
	height: auto;
}
.unos img{
	width: 650px;
	height: 550px;
}

}


/*grid-area: cuadros;
grid-template-areas: "cuadros cuadros cuadros cuadros cuadros cuadros"
	                     "a a a a a a"
	                     "uno uno uno uno contacto contacto";*/
